<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>Consulta de Facturas</title>
</head>
<body>
    <h1>Consulta de Facturas</h1>
    <form method="POST">
        <label for="id_cliente">Cédula del Cliente:</label>
        <input type="text" id="id_cliente" name="id_cliente" required>
        <button type="submit">Buscar</button>
    </form>

    {% if facturas %}
        <h2>Facturas Digitalizadas:</h2>
        <div>
            {% for factura in facturas %}
                <img src="{{ factura[0] }}" alt="Factura" width="300"><br>
                <a href="{{ url_for('descargar_imagen', filename=factura[0].split('/')[-1]) }}">
                    <button type="button">Descargar Imagen</button>
                </a>
                <br><br>
            {% endfor %}
        </div>

        <h2>Descargar Todas las Facturas en Excel:</h2>
        <a href="{{ url_for('descargar_excel') }}">
            <button type="button">Descargar Excel</button>
        </a>
    {% else %}
        <p>No se encontraron facturas para la cédula ingresada.</p>
    {% endif %}
</body>
</html>
